/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 19, 2018, 8:34:58 PM
    Author     : nguyenducthanh
*/
body{
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 18px;
}
.error{
    color: red;
}
.success{
    color: #0000FF;
}
